<h1>My Tech-watch Assignator</h1>
<nav>  
  <a href="/" class="active">Home</a>
  <a href="/students">Student list</a>
  <a href="/assignation">Tech-watch Assignation</a>
  <a href="/history">History Tech-watch</a>
</nav>