<h1>My Tech-watch Assignator</h1>
<nav>  
  <% if(title == 'home') { %> 
    <a href="/" class="active">Home</a>
  <% } else { %> <a href="/">Home</a> <% } %>
 
  <% if(title == 'students') { %> 
    <a href="/students" class="active">Student list</a>
  <% } else { %> <a href="/students">Student list</a> <% } %>

  <% if(title == 'assignation') { %> 
    <a href="/assignation" class="active">Tech-watch Assignation</a>
  <% } else { %> <a href="/assignation">Tech-watch Assignation</a> <% } %>

  <% if(title == 'history') { %> 
    <a href="/history" class="active">History Tech-watch</a>
  <% } else { %> <a href="/history">History Tech-watch</a> <% } %>  
</nav>