$color1: rgba(9, 16, 27, 0.8);

@mixin displayFlexColum{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin displayFlexRow{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin card{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}  

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul{list-style: none;}

header{
  min-height: 70vh;
  background: rgb(209, 209, 209);
  nav{
    @include displayFlexRow;
    width: 100%;
    height: 4vh;
    padding: 2vh 0;
    background-color: $color1;
    color: #fff;
    z-index: 100;
    #check, .checkbtn{
      display: none;
    }
    ul{
      @include displayFlexRow;
      width: 40vw;
      list-style-type: none;
      li{
        cursor: pointer;
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  #about{
    @include displayFlexColum;
    height: 65%;
    h1, h2{
      color: $color1;
      margin-top: 5px;
    }
    .cc-profile-image{
      a{
        position: relative;
      }
      a:before {
        content: "";
        border: 15px solid $color1;
        border-radius: 50%;
        height: 180px;
        width: 180px;
        position: absolute;
        left: 0;
        animation: pulsate 1.6s ease-out;
        animation-iteration-count: infinite;
        opacity: 0.0;
        z-index: 1;
      }
      img {
        position: relative;
        border-radius: 50%;
        height: 180px;
        width: 180px;
        padding: 0;
        margin: 0;
        border: 15px solid transparent;
        z-index: 2;
        transition: all .3s ease-out;
      }
      a:hover img {
        transform: scale(1.06, 1.06);
      }
      a:hover:before {
        animation: none;
      }
    } 
    p{
      width: 70%;
      margin: auto;
      padding: 2% 0 6%;
      color: $color1;
      font-style: italic;
      text-align: center;
    }
  }
}

main{
  @include displayFlexColum;
  justify-content: space-between;
  min-height: 60vh;
  #basicInfo{
    position: relative;
    height: 30VH;
    width: 100vw;
    ul{
      @include card;
      position: absolute;
      top: -40px;
      left: 38vw;
      width: 100vw;
      width: 22vw;
      padding: 1vw;  
      margin: auto;
      li{
        margin: 3vh 0;
        cursor: pointer;
        a{
          color: $color1;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
  #skills-card{
    @include displayFlexColum;
    width: 80vw;
    ul{
      @include card;
      width: 100%;
      // .progress-bar
    }
  }
}
 
@media all and (max-width: 768px) {
  header{
    nav{
      position: fixed;
      .checkbtn{
        display: block;
        position: absolute;
        right: 4VW;
      }
      ul{
        position: absolute;
        @include displayFlexColum;
        justify-content: flex-start;
        background: $color1;
        top: 8vh;
        right: -100%;
        transition: all .5s;
        height: 93vh;
        width: 40%;
        z-index: 2;
        li{
          padding: 4vh 0;
          margin: 4VH 2vw;
          text-align: center;
          font-weight: bolder;
        }
        li:hover, li:focus{
          background: rgba(29, 88, 122, .96);
        }
      }
      #check:checked ~ ul{ 
        right: 0;
      }
      label{
        transition: all .5s;
      }
      #check:checked ~ label{
        transform: rotate(90deg);
      }
    }
    #about{
      padding-top: 12vh;
      p{
        width: 85%;
        padding: 7% 0;
      }
    }
  }  
} 

@keyframes pulsate {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.0;
  }
}