<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head') %>
</head>
<body>
  <header>
    <%- include ('../partials/header') %>
    </nav>
  </header>
  <main>
    <section id="nextTech" style="background: #fff;">
      <h4>Next Tech-Watch</h4>
      <div>
        <h4>Base de données relationnelles / SQL</h4>
        <p>
          <span><b>Students affiliate:</b> Hakim - - - Camille</span>
          <span><b>When:</b> Thursday 23 Jully</span>
        </p>
      </div>
      <div>
        <h4>Classes (ES6)</h4>
        <p>
          <span><b>Students affiliate: </b>Arthur - - - Fatima</span>
          <span><b>When: </b>Thursday 23 Jully</span>
        </p>
      </div>
    </section>
    <section id="prevTech">
      <h4>Previous Tech-watch</h4>
      <div>
        <h4>Base de données relationnelles / SQL</h4>
        <p>
          <span><b>Students affiliate:</b> Hakim - - - Camille</span>
          <span><b>When:</b> Thursday 23 Jully</span>
        </p>
      </div>
      <div>
        <h4>Classes (ES6)</h4>
        <p>
          <span><b>Students affiliate: </b>Arthur - - - Fatima</span>
          <span><b>When: </b>Thursday 23 Jully</span>
        </p>
      </div>
      <div>
        <h4>Classes (ES6)</h4>
        <p>
          <span><b>Students affiliate: </b>Arthur - - - Fatima</span>
          <span><b>When: </b>Thursday 23 Jully</span>
        </p>
      </div>
    </section>
    <footer>
      <%- include ('../partials/footer') %>
    </footer>
  </main>
</body>
</html>