<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head') %>
</head>
<body>
  <header>
    <%- include ('../partials/header') %>
  </header>
  <main>
    <section id="wlcMsg">
      <h2>Welcome tech-watch user</h2>
      <p>On this page you could take a look to the next tech-watch we will assist. You can find witch students will have to do the next
        presentation and when.</p>
        <p>Also, as you can see, above this section there is a menu. This menu offer you diverse options like: take a look about the tech-watch we
          had already assist; see the list of students availaible for do a tech-watch; a page for create the next tech-watch.</p>
          <p>Don’t be shy and try to go on diverses part of the website !</p>
    </section>
    <section id="nextTech">
      <div>
        <h4>Base de données relationnelles / SQL</h4>
        <p>
          <span><b>Students affiliate:</b> Hakim - - - Camille</span>
          <span><b>When:</b> Thursday 23 Jully</span>
        </p>
      </div>
      <div>
        <h4>Classes (ES6)</h4>
        <p>
          <span><b>Students affiliate: </b>Arthur - - - Fatima</span>
          <span><b>When: </b>Thursday 23 Jully</span>
        </p>
      </div>
    </section>
    <section id="students">
      <h4>List of students they will must do a tech-watch soon:</h4>
      <ul>
        <% data.forEach(function(object){ %>
          <li>- <%= object.name %></li>
        <% }) %>
      </ul>
    </section>
    <footer>
      <%- include ('../partials/footer') %>
    </footer>
  </main>
</body>
</html>